body {
  background-color: black;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
  color: white;
}

.title {
  font-size: 2em;
}

.search-bar {
  margin-top: 20px;
  position: relative;
}

#url-input {
  width: 300px;
  padding: 10px;
  border: none;
  border-radius: 15px;
}

#initiate {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}
